@import '../../style.scss';

:root {
    --shareBlue: rgba(89, 116, 243, 1);
    --dismissRed: rgba(220, 90, 87, 1);
    --subFontGray: rgba(170, 170, 170, 1);
}



.suggestionContainer {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 20px 15px;
        color: themed('textColor');
        background-color: themed('bg');
        border-radius: 3px;
        width: 100%;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.4);


        h5 {
            text-align: left;
            font-size: 12px;
            color: var(--subFontGray);
            font-weight: 500;
        }

        .suggestedFriendContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;



            .friendInfo {
                display: flex;
                justify-content: center;
                column-gap: 13px;
                margin-bottom: 10px;

                img {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                }

                span {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }

            .btnContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                column-gap: 10px;
                align-items: center;
            }

            button {
                border: none;
                padding: 5px;
                color: white;
                cursor: pointer;
                height: 30px;
            }

            .follow {
                background: var(--shareBlue);
            }

            .dismiss {
                background: var(--dismissRed);
            }

        }
    }
}