@import '../../style.scss';

.rightBar {
    @include themify($themes) {

    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed('bg');


    &::-webkit-scrollbar {
        display: none;
    }

    padding: 15px;
}
}