.rightBar {
    flex: 3;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    position: sticky;
    top: 90px;
    height: calc(100vh - 90px);
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    padding: 0 15px;
}