#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(50, 137, 177, .3), rgba(17, 53, 115, 1));
    color: white;

    p {

        i {}

    }
}